// No nesting for main components,
// for easy style override
.ns-spoiler {
  &[data-open='false'] {
    .ns-spoiler-content {
      display: none;
    }
  }
  &[data-open='true'] {
    .ns-spoiler-content {
      display: block;
    }
  }
}

.ns-spoiler-control {
  a {
    padding: 4px 8px;
  }
}

.ns-spoiler-content {
  border-left: 2pt solid #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}

.ns-spoiler + .ns-spoiler {
  margin-top: 8px;
}