// No nesting for main components,
// for easy style override
.ns-spoiler {
  &[data-open='false'] {
    .ns-spoiler-content {
      display: none;
    }
  }
  &[data-open='true'] {
    .ns-spoiler-content {
      display: block;
    }
  }
}

.ns-spoiler-control {
  a {
    padding: 4px 8px;
  }
}

.ns-spoiler-content {

}